---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class=" cursor-pointer flex bg-slate-400 justify-center m-20 p-10 mx-96">
          <button class=" p-7 "> Aceptar</button>
	</div>
</Layout>

